<nav id="navbar-example2" class="custom-navbar navbar  px-2 mb-0">
  <a class="navbar-brand" >
    <button class="btn-outline-dark nav-link">
      <i class="bi bi-code-slash"></i>
    </button>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#homelink">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#CVitae">CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="nav-item">
      <button (click)="toggleTheme()" class="btn-outline-dark nav-link">
        <i [class]="isDark ? 'bi bi-sun-fill' : 'bi bi-moon-fill'"></i>
      </button>
    </li>



  </ul>
</nav>
