<nav id="navbar-example2" class="custom-navbar navbar  px-2 mb-0">
  <a class="navbar-brand" >
    <button class="btn-outline-dark nav-link">
      <i class="bi bi-code-slash"></i>
    </button>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#homelink">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#CVitae">CVitae</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="nav-item">
      <button (click)="toggleTheme()" class="btn-outline-dark nav-link">
        <i [class]="isDark ? 'bi bi-sun-fill' : 'bi bi-moon-fill'"></i>
      </button>
      <!-- <i class="bi bi-sun-fill nav-link"></i>  ícono de sol 
      <i class="bi bi-moon-fill"></i>  ícono de luna  -->
    </li>



  </ul>
</nav>


<!-- <div class="d-flex justify-content-evenly">
    <nav class="navbar navbar-expand-lg bg-ligth fixed-top shadow px-1 py-2 custom-navbar ">
  <div class="container-fluid justify-content-between">
    
    <ul class="navbar-nav flex-row">
        <li class="nav-item mx-1">
          <a class="nav-link active" aria-current="page" routerLink="home" >Home</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="projects" >Proyectos</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="contact" >Contacto</a>
        </li>
      </ul>
      
    
  </div>
</nav>
</div>
 -->