.skills-carousel-wrapper {
  overflow: hidden;
  width: 100%;
  /* border: 1px solid #ddd; */
  padding: 15px 0;
  /* background-color: #f8f9fa; */
}

.skills-carousel {
  display: flex;
  gap: 2px;
  animation: scrollSkills 9s linear infinite;
  width: max-content;
}

.skills-six{
  display: flex;
  gap: 2px;
  animation: scrollSkills 10.8s linear infinite;
  width: max-content;
}

.card{
  width: 7.4rem;
}

.skill-item {
  min-width: 150px;
  justify-content: center;
  align-items: center;
  background-color: none;
  /* color: white; */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  min-width: 15rem;
  user-select: none;
  font-weight: 600;
  font-size: 1rem;
}

h3{
  padding-bottom: 5rem;
  padding-top: 4rem;
  font-size: 30px;
}

:host-context(.light-theme) .card{
    background-color: #E2D3CA;
    border:  1px solid #1D293D ;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3); /* aura negra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

:host-context(.dark-theme) .card{
    background-color: #1D293D;
    color: #E2D3CA;
    border:  1px solid #E2D3CA ;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2); /* aura blanca */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
}

:host-context(.dark-theme) .card-img-top {
  filter: brightness(0) invert(1);
}

/* Animación para mover el carrusel */
@keyframes scrollSkills {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
  
}

@media (max-width: 768px){

  .skills-carousel {
  display: flex;
  gap: 2px;
  animation: scrollSkills 11s linear infinite;
  width: max-content;
  
}

.card{
  width: 5rem;
  font-size: 0.5rem;
  font-weight: 500;
}

.skills-six{
  display: flex;
  gap: 2px;
  animation: scrollSkills 13.2s linear infinite;
  width: max-content;
}

.skill-item {
  min-width: 150px;
  justify-content: center;
  align-items: center;
  background-color: none;
  /* color: white; */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  min-width: 6rem;
  user-select: none;
  font-weight: 600;
  font-size: 1rem;
}

h3{
  padding-bottom: 2rem;
  padding-top: 0.7rem;
}



}



