
<!-- Carrusel Skills Lenguajes de Programacion -->

<div class="skills-carousel-wrapper">
    <h3>Lenguajes de Programación</h3>
    <div class="skills-carousel" #carousel>
        <div class="skill-item" *ngFor="let skillsProgramer of skillsProgramer">
            <div class="card" >
                <img [src]="skillsProgramer.img" class="card-img-top" [alt]="skillsProgramer.name">
                <div class="card-body">
                    <p class="card-text" >{{ skillsProgramer.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carrusel Skills FrameWorks, seguridad y autenticacion -->

<div class="skills-carousel-wrapper">
    <h3>Frameworks Seguridad y Autenticación</h3>
    <div class="skills-carousel skills-six" #carousel>
        <div class="skill-item" *ngFor="let SkillsFrameworks of SkillsFrameworks">
            <div class="card" >
                <img [src]="SkillsFrameworks.img" class="card-img-top" [alt]="SkillsFrameworks.name">
                <div class="card-body">
                    <p class="card-text" >{{ SkillsFrameworks.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carrusel Skills Herramientas -->

<div class="skills-carousel-wrapper">
    <h3>Desarrollo y Herramientas</h3>
    <div class="skills-carousel" #carousel>
        <div class="skill-item" *ngFor="let SkillsTools of SkillsTools">
            <div class="card" >
                <img [src]="SkillsTools.img" class="card-img-top" [alt]="SkillsTools.name">
                <div class="card-body">
                    <p class="card-text" >{{ SkillsTools.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>