<!-- <div class="skills-carousel-wrapper">
    <div class="skills-carousel" #carousel>
        <div class="skill-item" *ngFor="let skill of skills">
            {{ skill }}
        </div>
    </div>
</div> -->

<div class="skills-carousel-wrapper">
    <div class="skills-carousel" #carousel>
        <div class="skill-item" *ngFor="let skill of skills">
            <div class="card" style="width: 18rem;">
                <img [src]="skill.img" class="card-img-top" [alt]="skill.name">
                <div class="card-body">
                    <p class="card-text" >{{ skill.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>