<div>
  <h2>Mis proyectos</h2>
  <p>Estos proyectos representan mi evolución como desarrollador backend. Cada uno ha sido una oportunidad para poner en práctica lo aprendido con Java, Spring Boot, JPA, JWT, Docker, bases de datos y más. He construido desde sistemas de autenticación seguros hasta integraciones con APIs externas y análisis de datos. Mi enfoque ha sido aprender haciendo, aplicando buenas prácticas, documentando el proceso y mejorando constantemente.
</p>
<p> Este portafolio no solo refleja mi capacidad técnica, sino también mi compromiso con el aprendizaje continuo.</p>
</div>

<app-project-card-component/>
