<div>
  <h2>Estos son mis proyectos</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis earum reprehenderit quos minus beatae alias
    magnam mollitia, ut, debitis nulla reiciendis sit? Libero impedit sit quod, mollitia necessitatibus ducimus qui, rem
    esse minus sapiente inventore aliquid ex dicta excepturi fuga quo perferendis recusandae velit neque dolore vel
    deleniti adipisci ea eos. Excepturi velit iure odit vitae laudantium minima accusamus deleniti sed debitis, sunt
    incidunt voluptatum soluta iusto. Sequi maiores, animi distinctio deleniti dolorem consequuntur commodi fugit
    aliquid inventore explicabo cumque ut eligendi, facere minus dolore est vero, illum impedit unde hic assumenda magni
    nulla. Id architecto suscipit consequuntur cupiditate quia explicabo temporibus dolorem. Tenetur alias error facilis
    repellendus pariatur sunt doloremque. Autem ex, recusandae nihil labore quo sunt ipsum aliquam necessitatibus
    architecto odit eum, atque quasi, voluptas voluptatibus quae ducimus! Dolores ut neque id consectetur mollitia
    explicabo, nulla dolorem, dicta fugit, aperiam ipsum necessitatibus fugiat officiis! Possimus recusandae quis
    nostrum.</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>